In [ ]:
!git clone https://github.com/datarisk-io/datarisk-case-ds-junior.git

# base desenvolvimento

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# %load_ext autoreload
# %autoreload 2

In [2]:
from datetime import timedelta
import sys
import os
sys.path.append(os.path.abspath('../'))

In [3]:
from src.utils import converter_colunas_datetime, mostrar_linhas_vazias

In [5]:
base_dev = pd.read_csv('datarisk-case-ds-junior/data/base_pagamentos_desenvolvimento.csv', sep=';')
base_dev.head()

,ID_CLIENTE,SAFRA_REF,DATA_EMISSAO_DOCUMENTO,DATA_PAGAMENTO,DATA_VENCIMENTO,VALOR_A_PAGAR,TAXA
0,1661240395903230676,2018-08,2018-08-17,2018-09-06,2018-09-06,35516.41,6.99
1,1661240395903230676,2018-08,2018-08-19,2018-09-11,2018-09-10,17758.21,6.99
2,1661240395903230676,2018-08,2018-08-26,2018-09-18,2018-09-17,17431.96,6.99
3,1661240395903230676,2018-08,2018-08-30,2018-10-11,2018-10-05,1341.00,6.99
4,1661240395903230676,2018-08,2018-08-31,2018-09-20,2018-09-20,21309.85,6.99

In [6]:
base_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77414 entries, 0 to 77413
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_CLIENTE              77414 non-null  int64
 1   SAFRA_REF               77414 non-null  object
 2   DATA_EMISSAO_DOCUMENTO  77414 non-null  object
 3   DATA_PAGAMENTO          77414 non-null  object
 4   DATA_VENCIMENTO         77414 non-null  object
 5   VALOR_A_PAGAR           76244 non-null  float64
 6   TAXA                    77414 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 4.1+ MB

In [8]:
mostrar_linhas_vazias(base_dev)

  - Linhas antes: 77414
  - Linhas depois: 76244
  - Linhas vazias: 1170 (1.51% do total)

In [9]:
base_dev.dropna(inplace=True)

In [10]:
base_dev.duplicated().sum()

np.int64(0)

In [11]:
base_dev.describe(include='all')

,ID_CLIENTE,SAFRA_REF,DATA_EMISSAO_DOCUMENTO,DATA_PAGAMENTO,DATA_VENCIMENTO,VALOR_A_PAGAR,TAXA
count,7.624400e+04,76244,76244,76244,76244,7.624400e+04,76244.000000
unique,NaN,35,1040,921,952,NaN,NaN
top,NaN,2021-05,2021-05-16,2021-02-17,2019-03-06,NaN,NaN
freq,NaN,2491,206,308,352,NaN,NaN
mean,4.662131e+18,NaN,NaN,NaN,NaN,4.659078e+04,6.789276
std,2.664931e+18,NaN,NaN,NaN,NaN,4.643393e+04,1.798137
min,8.784237e+15,NaN,NaN,NaN,NaN,1.000000e-01,4.990000
25%,2.369365e+18,NaN,NaN,NaN,NaN,1.876536e+04,5.990000
50%,4.817817e+18,NaN,NaN,NaN,NaN,3.475869e+04,5.990000
75%,6.969349e+18,NaN,NaN,NaN,NaN,6.093384e+04,6.990000
max,9.206031e+18,NaN,NaN,NaN,NaN,4.400000e+06,11.990000

In [12]:
base_dev = converter_colunas_datetime(
    df=base_dev,
    lista_colunas=['SAFRA_REF','DATA_EMISSAO_DOCUMENTO','DATA_VENCIMENTO', 'DATA_PAGAMENTO']
)

In [13]:
base_dev['DIAS_ATRASO'] = (base_dev['DATA_PAGAMENTO'] - base_dev['DATA_VENCIMENTO']).dt.days
base_dev['INADIMPLENTE'] = (base_dev['DIAS_ATRASO'] >= 5).astype(int)

In [14]:
base_dev.head()

,ID_CLIENTE,SAFRA_REF,DATA_EMISSAO_DOCUMENTO,DATA_PAGAMENTO,DATA_VENCIMENTO,VALOR_A_PAGAR,TAXA,DIAS_ATRASO,INADIMPLENTE
0,1661240395903230676,2018-08-01,2018-08-17,2018-09-06,2018-09-06,35516.41,6.99,0,0
1,1661240395903230676,2018-08-01,2018-08-19,2018-09-11,2018-09-10,17758.21,6.99,1,0
2,1661240395903230676,2018-08-01,2018-08-26,2018-09-18,2018-09-17,17431.96,6.99,1,0
3,1661240395903230676,2018-08-01,2018-08-30,2018-10-11,2018-10-05,1341.00,6.99,6,1
4,1661240395903230676,2018-08-01,2018-08-31,2018-09-20,2018-09-20,21309.85,6.99,0,0

# base info

In [15]:
base_info = pd.read_csv('datarisk-case-ds-junior/data/base_info.csv', sep=';')
base_info.head()

            ID_CLIENTE SAFRA_REF  RENDA_MES_ANTERIOR  NO_FUNCIONARIOS
0  1661240395903230676   2018-09             16913.0              NaN
1  8274986328479596038   2018-09            106430.0            141.0
2   345447888460137901   2018-09            707439.0             99.0
3  1003144834589372198   2018-09            239659.0             96.0
4   324916756972236008   2018-09            203123.0            103.0

In [16]:
base_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24401 entries, 0 to 24400
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_CLIENTE          24401 non-null  int64
 1   SAFRA_REF           24401 non-null  object
 2   RENDA_MES_ANTERIOR  23684 non-null  float64
 3   NO_FUNCIONARIOS     23149 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 762.7+ KB

In [18]:
mostrar_linhas_vazias(base_info)

  - Linhas antes: 24401
  - Linhas depois: 22465
  - Linhas vazias: 1936 (7.93% do total)