In [1]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.abspath('..'))
from src.preprocessing import extrair_dados_csv
from src.utils import converter_colunas_datetime
from src.utils import mostrar_linhas_vazias

In [2]:
caminho_csv = '../data'
dados_brutos = extrair_dados_csv(caminho_csv)

In [3]:
df_dev = dados_brutos['pagamentos_dev'].copy()
df_info = dados_brutos['info'].copy()
df_cadastral = dados_brutos['cadastral'].copy()
df_teste = dados_brutos['pagamentos_teste'].copy()

In [4]:
df_dev.head()

,ID_CLIENTE,SAFRA_REF,DATA_EMISSAO_DOCUMENTO,DATA_PAGAMENTO,DATA_VENCIMENTO,VALOR_A_PAGAR,TAXA
0,1661240395903230676,2018-08,2018-08-17,2018-09-06,2018-09-06,35516.41,6.99
1,1661240395903230676,2018-08,2018-08-19,2018-09-11,2018-09-10,17758.21,6.99
2,1661240395903230676,2018-08,2018-08-26,2018-09-18,2018-09-17,17431.96,6.99
3,1661240395903230676,2018-08,2018-08-30,2018-10-11,2018-10-05,1341.00,6.99
4,1661240395903230676,2018-08,2018-08-31,2018-09-20,2018-09-20,21309.85,6.99

In [5]:
df_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77414 entries, 0 to 77413
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_CLIENTE              77414 non-null  int64
 1   SAFRA_REF               77414 non-null  object
 2   DATA_EMISSAO_DOCUMENTO  77414 non-null  object
 3   DATA_PAGAMENTO          77414 non-null  object
 4   DATA_VENCIMENTO         77414 non-null  object
 5   VALOR_A_PAGAR           76244 non-null  float64
 6   TAXA                    77414 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 4.1+ MB

In [6]:
mostrar_linhas_vazias(df_dev)

  - Linhas antes: 77414
  - Linhas depois: 76244
  - Linhas vazias: 1170 (1.51% do total)

In [7]:
df_dev.dropna(inplace=True)

In [8]:
converter_colunas_datetime(df_dev, ['SAFRA_REF','DATA_EMISSAO_DOCUMENTO','DATA_PAGAMENTO', 'DATA_VENCIMENTO'])

,ID_CLIENTE,SAFRA_REF,DATA_EMISSAO_DOCUMENTO,DATA_PAGAMENTO,DATA_VENCIMENTO,VALOR_A_PAGAR,TAXA
0,1661240395903230676,2018-08-01,2018-08-17,2018-09-06,2018-09-06,35516.41,6.99
1,1661240395903230676,2018-08-01,2018-08-19,2018-09-11,2018-09-10,17758.21,6.99
2,1661240395903230676,2018-08-01,2018-08-26,2018-09-18,2018-09-17,17431.96,6.99
3,1661240395903230676,2018-08-01,2018-08-30,2018-10-11,2018-10-05,1341.00,6.99
4,1661240395903230676,2018-08-01,2018-08-31,2018-09-20,2018-09-20,21309.85,6.99
...,...,...,...,...,...,...,...
77409,2951563549197799278,2021-06-01,2021-06-30,2021-07-16,2021-07-16,89980.00,5.99
77410,5220206408301580591,2021-06-01,2021-06-30,2021-08-16,2021-08-16,42239.00,5.99
77411,5860276371789140450,2021-06-01,2021-06-30,2021-07-16,2021-07-16,20921.50,5.99
77412,2814790209436551216,2021-06-01,2021-06-30,2021-07-16,2021-07-16,90231.05,6.99
77413,8343941262792249232,2021-06-01,2021-06-30,2021-08-16,2021-08-16,20736.51,4.99

In [9]:
df_dev.duplicated().sum()

np.int64(0)

In [10]:
df_dev['DIAS_ATRASO'] = (df_dev['DATA_PAGAMENTO'] - df_dev['DATA_VENCIMENTO']).dt.days
df_dev['INADIMPLENTE'] = (df_dev['DIAS_ATRASO'] >= 5).astype(int)

In [11]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24401 entries, 0 to 24400
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_CLIENTE          24401 non-null  int64
 1   SAFRA_REF           24401 non-null  object
 2   RENDA_MES_ANTERIOR  23684 non-null  float64
 3   NO_FUNCIONARIOS     23149 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 762.7+ KB

In [12]:
mostrar_linhas_vazias(df_info)

  - Linhas antes: 24401
  - Linhas depois: 22465
  - Linhas vazias: 1936 (7.93% do total)

In [13]:
df_info['FUNCIONARIOS_FALTANTES'] = df_info['NO_FUNCIONARIOS'].isnull().astype(int)
df_info['RENDA_FALTANTE'] = df_info['RENDA_MES_ANTERIOR'].isnull().astype(int)

In [14]:
converter_colunas_datetime(df_info,['SAFRA_REF'])

,ID_CLIENTE,SAFRA_REF,RENDA_MES_ANTERIOR,NO_FUNCIONARIOS,FUNCIONARIOS_FALTANTES,RENDA_FALTANTE
0,1661240395903230676,2018-09-01,16913.0,NaN,1,0
1,8274986328479596038,2018-09-01,106430.0,141.0,0,0
2,345447888460137901,2018-09-01,707439.0,99.0,0,0
3,1003144834589372198,2018-09-01,239659.0,96.0,0,0
4,324916756972236008,2018-09-01,203123.0,103.0,0,0
...,...,...,...,...,...,...
24396,705648002974742140,2021-12-01,278663.0,105.0,0,0
24397,4993499380140734678,2021-12-01,156968.0,140.0,0,0
24398,4614484019183480654,2021-12-01,292698.0,121.0,0,0
24399,1299146298565441811,2021-12-01,106180.0,121.0,0,0
24400,4061297388883391410,2021-12-01,338952.0,127.0,0,0

In [15]:
df_info.duplicated().sum()

np.int64(0)

In [16]:
df_cadastral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315 entries, 0 to 1314
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_CLIENTE           1315 non-null   int64
 1   DATA_CADASTRO        1315 non-null   object
 2   DDD                  1078 non-null   object
 3   FLAG_PF              66 non-null     object
 4   SEGMENTO_INDUSTRIAL  1232 non-null   object
 5   DOMINIO_EMAIL        1285 non-null   object
 6   PORTE                1274 non-null   object
 7   CEP_2_DIG            1315 non-null   object
dtypes: int64(1), object(7)
memory usage: 82.3+ KB

In [17]:
df_cadastral['FLAG_PF'] = df_cadastral['FLAG_PF'].apply(lambda x: 1 if x == 'X' else 0)

In [18]:
for col in ['SEGMENTO_INDUSTRIAL', 'PORTE', 'DOMINIO_EMAIL']:
    df_cadastral[col] = df_cadastral[col].fillna('DESCONHECIDO')

In [19]:
df_cadastral.drop('DDD', axis=1, inplace=True)

In [20]:
mostrar_linhas_vazias(df_cadastral)

  - Linhas antes: 1315
  - Linhas depois: 1315
  - Linhas vazias: 0 (0.00% do total)

In [21]:
df_cadastral.duplicated().sum()

np.int64(0)

In [22]:
df_teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12275 entries, 0 to 12274
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_CLIENTE              12275 non-null  int64
 1   SAFRA_REF               12275 non-null  object
 2   DATA_EMISSAO_DOCUMENTO  12275 non-null  object
 3   DATA_VENCIMENTO         12275 non-null  object
 4   VALOR_A_PAGAR           12144 non-null  float64
 5   TAXA                    12275 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 575.5+ KB

In [23]:
mostrar_linhas_vazias(df_teste)

  - Linhas antes: 12275
  - Linhas depois: 12144
  - Linhas vazias: 131 (1.07% do total)

In [24]:
df_teste.dropna(inplace=True)

In [25]:
converter_colunas_datetime(df_teste, ['SAFRA_REF','DATA_EMISSAO_DOCUMENTO', 'DATA_VENCIMENTO'])

,ID_CLIENTE,SAFRA_REF,DATA_EMISSAO_DOCUMENTO,DATA_VENCIMENTO,VALOR_A_PAGAR,TAXA
0,5058298901476893676,2021-07-01,2021-07-14,2021-08-04,11204.75,4.99
1,274692171162531764,2021-07-01,2021-07-08,2021-08-23,60718.50,5.99
2,274692171162531764,2021-07-01,2021-07-11,2021-08-25,60718.50,5.99
3,274692171162531764,2021-07-01,2021-07-16,2021-08-30,62250.00,5.99
4,465309249432033993,2021-07-01,2021-07-05,2021-07-30,26593.95,6.99
...,...,...,...,...,...,...
12270,705648002974742140,2021-11-01,2021-11-25,2021-12-13,47010.00,6.99
12271,4993499380140734678,2021-11-01,2021-11-25,2021-12-13,122875.35,8.99
12272,4614484019183480654,2021-11-01,2021-11-26,2028-09-30,302200.00,5.99
12273,1299146298565441811,2021-11-01,2021-11-26,2021-12-13,143791.85,5.99
12274,4061297388883391410,2021-11-01,2021-11-28,2021-12-23,23724.10,4.99

In [26]:
df_teste.duplicated().sum()

np.int64(11)

In [27]:
df_teste.drop_duplicates(inplace=True)